<h5>ESPN MLB Headlines</h5>
<div class="row">
	<div class="large-12 columns">
		<h6 class="show-headline-headline"><%= @mlb_headline.headline %></h6>
		<p class="show-headline-time"><%= @mlb_headline.last_modified.localtime.strftime('%l:%M %p %Z %-m-%d-%Y') %></p>
		<p class="show-headline-description"><%= @mlb_headline.description %></p>
		<p><%= link_to 'Full Story', @mlb_headline.href %></p>
		<% if @mlb_headline.image_url.map.any? %>
			<% @mlb_headline.image_url.map do |image| %>
		<%= image_tag image %>
		<% end %>
		<% else %>
			<p class="show-headline-image"><%= image_tag('espn_logo_frozen.png') %></p>
		<% end %>
		<p><%= link_to "Back", mlb_headlines_path %></p>
	</div>
</div>