<h5>ESPN Headlines</h5>
<div class="row">
	<div class="large-12 columns">
		<h6 class="show-headline-headline"><%= @headline.headline %></h6>
		<p class="show-headline-time"><%= @headline.last_modified.localtime.strftime('%l:%M %p %Z %-m-%d-%Y') %></p>
		<p class="show-headline-description"><%= @headline.description %></p>
		<p><%= link_to 'Full Story', @headline.href, target: "_blank" %></p>
		<% if @headline.image_url.map.any? %>
			<% @headline.image_url.map do |image| %>
		<%= image_tag image %>
		<% end %>
		<% else %>
			<p class="show-headline-image"><%= image_tag('espn_logo_frozen.png') %></p>
		<% end %>
		<p><%= link_to "Back", headlines_path %></p>
	</div>
</div>