<footer>
	<div class="row">
		<div class="large-12 large-centered columns">
			<dl class="sub-nav">
				<dd><%= link_to 'Sports Illustrated Headlines', root_path %></dd>
			  <dd><%= link_to 'ESPN Headlines', headlines_path %></dd>
			  <dd><%= link_to 'NFL', nfl_headlines_path %></dd>
			  <dd><%= link_to 'MLB', mlb_headlines_path %></dd>
			  <dd><%= link_to 'NBA', nba_headlines_path %></dd>
			  <dd><%= link_to 'NHL', nhl_headlines_path %></dd>
			  <dd><%= link_to 'NCAAF', ncaa_mens_fb_headlines_path %></dd>
			  <dd><%= link_to 'NCAAM', ncaa_mens_bb_headlines_path %></dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="large-12 large-centered columns">
			<dl class="sub-nav">
			  <dd><%= link_to 'About', about_path %></dd>
			  <dd><%= link_to 'Contact', contact_path %></dd>
			</dl>
		</div>
	</div>
</footer>